/*Nav Bar CSS */

#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 200%;
  float: left;
  z-index: 9999;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  position: absolute;
  padding-left: 10px;
  top: 25%;
}

#nav-bar .compose {
  float: right;
  border: solid black;
  padding: 12px;
  font-size: 18px;
  margin-top: 12px;
  background-color: #669898;
  box-shadow: 2px 2px grey;
  border-radius: 4px;
}

#nav-bar .compose:hover {
  background-color: #0a3838;
}